---
import Layout from "../layouts/Layout.astro";
import "../styles/main.css";
import Bento from "../components/bento.astro";
import { Dithering } from "@paper-design/shaders-react";
import Loader from "../components/loader.astro";
import { Image } from "astro:assets";

import blob1 from "../assets/blobs/blob1.webp";
import blob2 from "../assets/blobs/blob2.webp";
import blob3 from "../assets/blobs/blob3.webp";
import blob4 from "../assets/blobs/blob4.webp";
import blob5 from "../assets/blobs/blob5.webp";
import logo_stick from "../assets/blobs/logo.webp";
import topic_robin from "../assets/topics/robin.webp";
import topic_cube from "../assets/topics/cube.webp";
import topic_ferris from "../assets/topics/ferris.webp";
---

<Layout>
  <Loader>
    <p slot="hi" class="load">loading...</p>
  </Loader>
  <a href="/hi/" title="rsvp for bento!" class="rsvp noselect">rsvp</a>
  <Image
    width={300}
    alt={""}
    class="sticker"
    src={blob1}
    {...{ "can-move": true } as any}
  />
  <Image
    width={300}
    alt={""}
    class="sticker"
    src={blob2}
    {...{ "can-move": true } as any}
  />
  <Image
    width={300}
    alt={""}
    class="sticker"
    src={blob3}
    {...{ "can-move": true } as any}
  />
  <Image
    width={300}
    alt={""}
    class="sticker"
    src={blob4}
    {...{ "can-move": true } as any}
  />
  <Image
    width={300}
    alt={""}
    class="sticker"
    src={blob5}
    {...{ "can-move": true } as any}
  />
  <Image
    width={300}
    alt={""}
    class="sticker logo"
    src={logo_stick}
    {...{ "can-move": true } as any}
  />
  <Image
    width={300}
    alt={""}
    class="topic"
    src={topic_robin}
    {...{ "can-move": true } as any}
  />
  <Image
    width={300}
    alt={""}
    class="topic"
    src={topic_cube}
    {...{ "can-move": true } as any}
  />
  <Image
    width={300}
    alt={""}
    can-move
    class="topic"
    src={topic_ferris}
    {...{ "can-move": true } as any}
  />

  <Bento>
    <div class="top-right noselect" slot="top-right">
      <p title="seen the show? now hear the tell">
        seen the <a
          title="link to more information about spill (the show)"
          href="https://spill.purduehackers.com">show?</a
        >
      </p>
      <p>now hear the tell.</p>
      <img style="pointer-events: none" src="/bento.svg" />
      <h1 title="heading: bento">bento</h1>
    </div>
    <p class="noselect" slot="l-vertical">
      Do you have a topic or project you just can't shut up about? Want to tell
      even more people about how amazing it is?
      <br />
      <br />
      Yes, yes you do.
      <br />
      <br />
      We're hosting BENTO, a WWDC-style event where YOU break the mold on sharing
      cool and interesting topics with Purdue students.
      <br />
      <br />
      You only need a title and a topic to sign-up. That's it!
    </p>
    <a
      href="https://purduehackers.notion.site/BENTO-Presentation-Guidelines-317181f3b6ed80789af0f349d89fbba7"
      class="speaker"
      slot="l-vertical">be a speaker</a
    >
    <p class="bottom-left noselect" slot="bottom-left"><strong>topics include:</strong></p>
	<p slot="bottom-left">rust crates, rubik's cubes, birds, ios tweaks, and more!</p>
    <p class="noselect top-left" slot="top-left">7-10 PM April 11 KRAN 140</p>
  </Bento>

  <div style="position:absolute; z-index: -1; top:0, left:0">
    <Dithering
      client:load
      width={`100vw`}
      height={`100vh`}
      colorBack="#FFFAE5"
      colorFront="#1500ff"
      shape="warp"
      type="4x4"
      size={2.8}
      speed={0.15}
      offsetX={-1}
      offsetY={-1}
    />
  </div>

  <div class="background"></div>
  <script>
    import { Image } from "astro:assets";
import { playhtml } from "playhtml";

    playhtml.init({
      cursors: {
        enabled: true,
        onCustomCursorRender: (connectionId, element) => {
          console.log("custom cursor render", { connectionId, element });

          const el = document.createElement("div");
		  const img = document.createElement("img")
		  img.setAttribute("src", "/./cursors/pointer.png")
          el.appendChild(img);
          el.style.fontSize = "20px";
          return el;
        },
      },
    });
  </script>
</Layout>
